<p id="notice"><%= notice %></p>
<h3><%= @book.name %></h3>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @book.slug %>
</p>


<%= link_to 'Edit', edit_book_path(@book), class: "button success small" %> 
<%= link_to 'Back', books_path, class: "button secondary small" %>


<h3>Comentarios</h3>
<div id="comments_section">
	<% @comments.each do |comment| %>
		<%= render 'shared/comments', comment: comment %>
	<% end %>

</div>

<h4>Agregar comentario</h4>
<%= form_for [@book, @book.comments.new], remote: true do |f| %>
	<%= f.hidden_field :book_id, value: @book.id %>
	<%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.text_area :description, rows: 5, cols: 5 %>
  </div>
  <div class="actions">
    <%= f.submit "Agregar", class: "button small" %>
  </div>
<% end %>