<!DOCTYPE html>
<% locale = I18n.locale %>
<html lang=<%= locale %>>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hacker Library" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
       <li class="name">
         <h1><%= link_to "Hacker Library", books_path %></a></h1>
       </li>
      </ul>
      <section class="top-bar-section">
        <% if user_signed_in? %>
          <ul>
            <li class="divider"></li>
            <li><%= link_to t(:users), users_path %></li>
          </ul>
          <ul>
            <li class="divider"></li>
            <li><%= link_to "Imágenes", pictures_path %></li>
          </ul>
        <% end %>
        <ul class="right">
          <li class="divider"></li>
           <% if user_signed_in? %>
             <li><%= link_to current_user.email, edit_user_registration_path %></li>
             <li class="divider"></li>
             <li><%= link_to t(:logout), destroy_user_session_path, method: :delete %></li>
           <% else %>
            <li><%= link_to  t(:login), new_user_session_path  %></li>
            <li><%= link_to t(:sign_up), new_user_registration_path  %></li>
           <% end %>
         </ul>
        </div>
    </nav>
    <div class="small-12 columns">
      <%= yield %>
    </div>
    
    <footer>
      <br/>
      <div class="row full-width">
        <small>&copy; Hackerschool 2016</small>
        <div class="callout clearfix">
          <small><%= link_to t(:english), params.merge(locale: "en") %></small>
          <small><%= link_to t(:spanish), params.merge(locale: "es") %></small>
        </div>
      </div>
    </footer>

  </body>
</html>
